<div id="edit-content">
    <form [formGroup]="userForm">
        <p>
            <mat-form-field appearance="outline">
                <mat-label>UserId</mat-label>
                <input matInput placeholder="UserId" disabled value="{{user?.user_id}}">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>UserName</mat-label>
                <input matInput placeholder="UserName" [formControl]="userName" value="{{user?.user_name}}">
            </mat-form-field>
        </p>
        <div id="button-area">
            <div class="button">
                <button mat-stroked-button color="primary" (click)="update()" [disabled]="userForm.invalid">Edit
                </button>
            </div>
            <div class="button">
                <button mat-stroked-button routerLink="">Back</button>
            </div>
        </div>
    </form>
</div>